<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css">
</head>
<body>
<h1>게시판 페이지</h1>

<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="board" data-toggle="modal" data-target="#savePostsModal">글 등록
    </button>
    <div th:text="${boardNo}"></div>
</div>

<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>no</th>
        <th>title</th>
    </tr>
    </thead>
    <tbody id="tbody" th:each="board : ${boardList}">
        <tr>
            <td th:text="${board.no}">no</td>
            <td th:text="${board.title}">title</td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showBoard">게시글 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <textarea class="form-control" id="title" placeholder="제목을 입력하세요"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="bcategory">대분류</label>
                        <input type="text" class="form-control" id="bcategory" placeholder="카테고리 1번을 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="mcategory">소분류</label>
                        <input type="text" class="form-control" id="mcategory" placeholder="카테고리 2번을 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="reg">등록자</label>
                        <textarea class="form-control" id="reg" placeholder="작성자를 입력하세요"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            </div>
        </div>
    </div>
</div>


<script src="/lib/js/jquery.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/js/dom.js"></script>
<script type="text/javascript" src="/lib/js/board.js"></script>
<script type="text/javascript">
    var dom = domModule();
</script>
</body>
</html>
